@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
}


/* FONDOS */

body{
    background-color: #BAE1DB;
    max-width: 1200px;
    margin: 0 auto;
}

/* TEXTOS */
h1{
    text-align: center;
    color: #164E63;
    text-decoration: underline;
    margin: 20px;
}



li{
    list-style-type: none;
    display: inline-block;
}

a{
    color:#164E63;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin:150px 50px ; 
}

main{
    margin:20px;
    padding: 20px;
}


h2{
    text-align: center;
}

.portada{
    margin-top: 30px;
    width: 180px;
    height: 279px;
}

.social{
    margin-top: 20px;
    
}

.logoW{
    width: 80px;
}

form{
    font-family: 'Open Sans', sans-serif;

}

iframe{
    padding-top: 20px;
}

.noticia{
    padding: 20px;
    
}

.comentario{
    border: dashed #0D9488;
    margin: 15px;
}

li{
    margin: 15px; 
}

a{
    margin:10px;
}


.bg-body-tertiary{
    background-color: #bae1db !important;
}
.btn{
    background-color:#0D9488;
    border: none;
    color: black;
    font-weight: 600;
    transition: 0.5s;
}
.btn:hover{
    background-color:#164E63;
    font-weight: 800;
}


.scroll-box {
    overflow-x: auto; /* permite el desplazamiento horizontal */
    white-space: nowrap; /* evita que los elementos se rompan */
    display: flex; /* permite el uso de flexbox */
    flex-wrap: nowrap; /* evita que los elementos se rompan dentro del contenedor */
  }
  
  .scroll-box__content {
    display: flex; /* permite el uso de flexbox */
    width: 183px;
    height: 275px;
  }
  
  .scroll-box__item {
    flex-shrink: 0; /* evita que los elementos se reduzcan en tamaño */
    margin-right: 16px; /* margen derecho entre elementos */
  }
  
  /* Hacer la caja responsive */
  @media screen and (max-width: 768px) {
    .scroll-box__item {
      margin-right: 8px; /* reducir margen en dispositivos móviles */
    }
  }
  









