.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black;
    padding: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .scroll-box__item {
        margin-right: 8px;
    }
}

@media (max-width: 767px) {
    .cards {
        flex-direction: column;
    }
}