main {
    margin: 20px;
    padding: 20px;
}

h2 {
    text-align: center;
}

.portada {
    margin-top: 30px;
    width: 180px;
    height: 279px;
}

table {
    max-width: 100%;
}

table tbody,
table thead,
table tfoot,
table tr,
table th,
table td {
    display: block;
}

table th,
table td {
    float: left;
}

table tr {
    clear: both;
}